DB_HOST=localhost
DB_PORT=5432
DB_NAME=kekdek_db
DB_USER="username here"
DB_PASSWORD= "password here"
# version 0, for testing purposes only, do not use in production
KEK=GbLKmbVgqPeE+Gvn8Krk6qtJjf4eUOswWmAiQUtRgMM=